.button_required {
  background-color: green;
}

.button_normal {
  background-color: lightskyblue;
}

.button_exclude {
  background-color: red;
}

.inputbutton {
  width: 30px;
  height: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 500px) {
  .mainContent {
    margin: auto;
    width: 100%;
  }
}

@media (min-width: 500px) {
  .mainContent {
    margin: auto;
    width: 500px;
  }
}

/* .possibilityDiv {
  margin: 0 auto;
  display: table;
} */

.possibilityDiv ul {
  padding-inline-start: 0px;
  margin: auto;
  display: inline;
  align-content: center;
}

.possibilityDiv li {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  border: 2px;
  background-color: indigo;
  color: white;
  margin: 2px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}
